body{
    background-image: url(lavender-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: mediumpurple;
    font-family: VarelaRound;
}

.navbar{
    background-color: #8c02c7!important;
    border-radius: 0px 0px 25px 25px;
   }


.navbar-light .navbar-brand{
    color: #f5f5f5;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #f5f5f5;
}

.navbar-light .navbar-nav .nav-link{
    color: #f5f5f5;
}

.card{
    
    margin-left: 40%;
    margin-top: 3%;
    border-radius: 25px;
    border-color: purple;
}

.card-title{
    text-align: center;
}

